<template>
  <div>
    <div class="create-bill">
      <div class="create-bill__header">
        <div class="create-bill__title">
          {{ $t("Project_Name") }} : {{ projectName }}
        </div>
        <!-- <div class="create-bill__veiw-bill">
          <el-button round>View BOQ</el-button>
        </div> -->
      </div>
      <div class="create-bill__data">
        <el-row type="flex" class="row-bg" justify="space-between">
          <el-col :span="8">
            <div class="create-bill__data-key">
              {{ $t("BOQ_Version") }}
            </div>
            <div class="create-bill__data-value">
              1
            </div>
          </el-col>
          <el-col :span="8">
            <div class="create-bill__data-key">
              {{ $t("BOQ_Budget_Amount") }}
            </div>
            <div class="create-bill__data-value">
              370000
            </div>
          </el-col>
          <el-col :span="8">
            <div class="create-bill__data-key">
              {{ $t("BOQ_Budget_Remaining_Amount") }}
            </div>
            <div class="create-bill__data-value">
              370000
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="create-bill__form">
        <el-row :gutter="10" type="flex" justify="space-around">
          <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
            <el-col :span="4">
              <el-form-item prop="organization">
                <el-input
                  v-model="ruleForm.organization"
                  :placeholder="$t('organization')"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item prop="destinationTypeCode">
                <el-input
                  v-model="ruleForm.destinationTypeCode"
                  :placeholder="$t('destinationTypeCode')"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-form-item prop="lineType">
                <el-input
                  v-model="ruleForm.lineType"
                  :placeholder="$t('lineType')"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-form-item prop="task">
                <el-input
                  v-model="ruleForm.task"
                  :placeholder="$t('task')"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-form-item prop="item">
                <el-input
                  v-model="ruleForm.item"
                  :placeholder="$t('item')"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-form-item prop="itemCategory">
                <el-input
                  v-model="ruleForm.itemCategory"
                  :placeholder="$t('itemCategory')"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-form-item prop="unitCode">
                <el-input
                  v-model="ruleForm.unitCode"
                  :placeholder="$t('unitCode')"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item prop="unitPrice">
                <el-input
                  v-model="ruleForm.unitPrice"
                  :placeholder="$t('unitPrice')"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item prop="BOQQuantity">
                <el-input
                  v-model="ruleForm.BOQQuantity"
                  :placeholder="$t('organization')"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-form>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-button
              @click="submitForm('ruleForm')"
              v-if="!editFlag"
              type="primary"
              round
              icon="el-icon-search"
            >
              {{ $t("Add_New_Line") }}
            </el-button>
            <el-button
              @click="submitFormEdit('ruleForm', editIndex)"
              v-if="editFlag"
              type="primary"
              round
              icon="el-icon-edit"
              >{{ $t("Edit_Line") }}</el-button
            >
            <el-button
              @click="resetForm('ruleForm')"
              v-if="editFlag"
              type="danger"
              plain
              round
              icon="el-icon-close"
            >
              {{ $t("Cancel") }}</el-button
            >
          </el-col>
        </el-row>
      </div>
      <div class="create-bill__table">
        <el-row>
          <el-col :span="24">
            <el-table
              empty-text="No Data"
              :data="tableData"
              style="width: 100%"
            >
              <el-table-column
                align="center"
                prop="organization"
                :label="$t('organization')"
              >
              </el-table-column>
              <el-table-column
                align="center"
                prop="destinationTypeCode"
                :label="$t('destinationTypeCode')"
                width="180"
              >
              </el-table-column>
              <el-table-column
                align="center"
                prop="lineType"
                :label="$t('lineType')"
              >
              </el-table-column>
              <el-table-column align="center" prop="task" :label="$t('task')">
              </el-table-column>
              <el-table-column align="center" prop="item" :label="$t('item')">
              </el-table-column>
              <el-table-column
                align="center"
                prop="itemCategory"
                :label="$t('itemCategory')"
              >
              </el-table-column>
              <el-table-column
                align="center"
                prop="unitCode"
                :label="$t('unitCode')"
              >
              </el-table-column>
              <el-table-column
                align="center"
                prop="unitPrice"
                :label="$t('unitPrice')"
              >
              </el-table-column>
              <el-table-column
                align="center"
                prop="BOQQuantity"
                :label="$t('BOQQuantity')"
              >
              </el-table-column>
              <el-table-column align="center" width="220">
                <template slot-scope="scope">
                  <el-button
                    size="mini"
                    round
                    @click="handleEdit(scope.$index, scope.row)"
                    >{{ $t("Editbtn") }}</el-button
                  >
                  <el-button
                    size="mini"
                    round
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)"
                    >{{ $t("Deletebtn") }}</el-button
                  >
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      projectName: null,
      editFlag: false,
      editIndex: null,
      ruleForm: {
        organization: "",
        destinationTypeCode: "",
        lineType: "",
        task: "",
        item: "",
        itemCategory: "",
        unitCode: "",
        unitPrice: "",
        BOQQuantity: "",
      },
      rules: {
        organization: [
          {
            required: true,
            message: "Please input Organization",
            trigger: "blur",
          },
          {
            min: 3,

            message: "Length should be 3",
            trigger: "blur",
          },
        ],
        destinationTypeCode: [
          {
            required: true,
            message: "Please input Destination Type Code",
            trigger: "blur",
          },
        ],
        lineType: [
          {
            required: true,
            message: "Please input Line Type",
            trigger: "blur",
          },
        ],
        task: [
          {
            required: true,
            message: "Please input Task",
            trigger: "blur",
          },
        ],
        item: [
          {
            required: true,
            message: "Please input Item",
            trigger: "blur",
          },
        ],
        itemCategory: [
          {
            required: true,
            message: "Please input Item Category",
            trigger: "blur",
          },
        ],
        unitCode: [
          {
            required: true,
            message: "Please input Unit Code",
            trigger: "blur",
          },
        ],
        unitPrice: [
          {
            required: true,
            message: "Please input Unit Price",
            trigger: "blur",
          },
        ],
        BOQQuantity: [
          {
            required: true,
            message: "Please input BOQ Quantity",
            trigger: "blur",
          },
        ],
      },
      tableData: [
        /*  {
          organization: "organization1",
          destinationTypeCode: "destinationTypeCode2",
          lineType: "lineType3",
          task: "task4",
          item: "item5",
          itemCategory: "itemCategory6",
          unitCode: "unitCode7",
          unitPrice: "unitPrice8",
          BOQQuantity: "BOQQuantity9",
        }, */
      ],
    };
  },
  created() {
    this.projectName = this.$route.params.productName;
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.tableData.push({
            organization: this.ruleForm.organization,
            destinationTypeCode: this.ruleForm.destinationTypeCode,
            lineType: this.ruleForm.lineType,
            task: this.ruleForm.task,
            item: this.ruleForm.item,
            itemCategory: this.ruleForm.itemCategory,
            unitCode: this.ruleForm.unitCode,
            unitPrice: this.ruleForm.unitPrice,
            BOQQuantity: this.ruleForm.BOQQuantity,
          });
          this.resetForm("ruleForm");
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    submitFormEdit(formName, index) {
      console.log(formName, index);
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.tableData[index].organization = this.ruleForm.organization;
          this.tableData[
            index
          ].destinationTypeCode = this.ruleForm.destinationTypeCode;
          this.tableData[index].lineType = this.ruleForm.lineType;
          this.tableData[index].task = this.ruleForm.task;
          this.tableData[index].item = this.ruleForm.item;
          this.tableData[index].itemCategory = this.ruleForm.itemCategory;
          this.tableData[index].unitCode = this.ruleForm.unitCode;
          this.tableData[index].unitPrice = this.ruleForm.unitPrice;
          this.tableData[index].BOQQuantity = this.ruleForm.BOQQuantity;

          console.log(this.tableData[index]);
          this.resetForm("ruleForm");
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.editFlag = false;
      this.editIndex = null;
      this.$refs[formName].resetFields();
    },
    handleEdit(index, row) {
      console.log(index, row);
      this.ruleForm.organization = row.organization;
      this.ruleForm.destinationTypeCode = row.destinationTypeCode;
      this.ruleForm.lineType = row.lineType;
      this.ruleForm.task = row.task;
      this.ruleForm.item = row.item;
      this.ruleForm.itemCategory = row.itemCategory;
      this.ruleForm.unitCode = row.unitCode;
      this.ruleForm.unitPrice = row.unitPrice;
      this.ruleForm.BOQQuantity = row.BOQQuantity;
      this.editFlag = true;
      this.editIndex = index;
    },
    handleDelete(index) {
      console.log(index);
      this.tableData.splice(index, 1);
      this.resetForm("ruleForm");
    },
  },
};
</script>
