.app-rtl {
    direction: rtl;
    text-align: right;

    .home__title {
        h3 {
            margin-left: 2rem;
        }
    }

    .home__clean-data {
        margin-right: auto;
        margin-left: unset;
    }

    .nav__username {
        margin-right: 1rem;
    }

    .el-menu--horizontal>.el-menu-item {
        float: right;
    }

    .nav__submenu {
        float: left !important;

    }

    .el-submenu__title {
        direction: ltr;
    }

    .el-form {
        .el-col {
            float: right;
        }
    }

    .el-form-item__error {
        right: 0;
    }

    .el-button {
        direction: ltr;
    }
}