<template>
  <div class="home">
    <div class="home__header">
      <div class="home__title">
        <h3>{{ $t("projects") }}</h3>
      </div>
      <div class="home__search">
        <el-input
          :placeholder="$t('Project_Number')"
          prefix-icon="el-icon-search"
          v-model="input"
        >
        </el-input>
      </div>
      <div class="home__clean-data">
        <el-button @click="cleanData" round>{{ $t("Clean_Data") }}</el-button>
      </div>
    </div>
    <div class="home__data">
      <el-table
        empty-text="No Data"
        :lazy="true"
        v-loading="loading"
        :data="
          tableData.filter(
            (data) =>
              !input ||
              data['Project Number'].toLowerCase().includes(input.toLowerCase())
          )
        "
        style="width: 100%"
      >
        <el-table-column
          align="center"
          prop="Project Name"
          :label="$t('Project_Name')"
        >
        </el-table-column>
        <el-table-column
          align="center"
          prop="Project Number"
          :label="$t('Project_Number')"
        >
        </el-table-column>
        <el-table-column
          align="center"
          prop="Project Description"
          :label="$t('Project_Describtion')"
        >
        </el-table-column>
        <el-table-column align="center">
          <template slot-scope="scope">
            <el-button
              type="primary"
              size="mini"
              @click="handleCreate(scope.$index, scope.row)"
              round
              v-if="scope.row['BOQ Created'] == true"
              >{{ $t("Create_BOQ") }}</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      input: "",
      tableData: [],
      loading: true,
    };
  },
  created() {
    this.tableData = [];
    this.axios
      .get(
        "https://cors-anywhere.herokuapp.com/https://mivors--tst3.custhelp.com/cc/Test/Projects"
      )
      .then((response) => {
        console.log(response.data.Projects);
        this.tableData = response.data.Projects;
        this.loading = false;
      })
      .catch(function(error) {
        // handle error
        this.$message.error("Oops, this is a error message. " + error);
      });
  },
  methods: {
    cleanData() {
      this.input = "";
    },
    handleCreate(index, row) {
      this.$router.push({ path: `/CreateBOQ/${row["Project Name"]}` });
    },
  },
};
</script>
