<template>
  <div class="login">
    <div class="login__title">
      {{ $t("sign_in") }}
    </div>
    <div class="login__container">
      <div class="login__form">
        <el-form
          :model="dynamicValidateForm"
          ref="dynamicValidateForm"
          label-position="top"
          label-width="120px"
          class="demo-dynamic"
        >
          <el-form-item
            prop="email"
            :label="$t('Email')"
            :rules="[
              {
                required: true,
                message: $t('Please_input_email_address'),
                trigger: 'blur',
              },
              {
                type: 'email',
                message: $t('Please_input_correct_email_address'),
                trigger: ['blur', 'change'],
              },
            ]"
          >
            <el-input v-model="dynamicValidateForm.email"></el-input>
          </el-form-item>
          <el-form-item
            :label="$t('Password')"
            prop="pass"
            :rules="[
              {
                required: true,
                message: $t('Please_input_password'),
                trigger: 'blur',
              },
            ]"
          >
            <el-input
              type="password"
              :show-password="true"
              v-model="dynamicValidateForm.pass"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              round
              @click="submitForm('dynamicValidateForm')"
              >{{ $t("sign_in") }}</el-button
            >
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dynamicValidateForm: {
        email: "",
        pass: "",
      },
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$message({
            message: this.$t("Congrats_you_sign_in_successful"),
            type: "success",
          });
          this.$store.commit("setAuthentication", true);
          this.$router.push("/");
        } else {
          console.log("error submit!!");

          return false;
        }
      });
    },
  },
};
</script>
