.create-bill {
    background-color: $color-grey-light-1;
    height: calc(100vh - 61px);
    padding: 5rem 10rem;

    &__Header {
        display: flex;
        margin-bottom: 5rem;
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        color: $color-black;
    }

    &__data {
        background-color: $color-white;
        padding: 2rem;
        margin: 2rem 0;
        border-radius: 10px;

        &-key {
            color: #409EFF;
            font-size: 2.2rem;
            font-weight: 900;
        }

        &-value {
            color: #409EFF;
            font-size: 2.2rem;
            font-weight: 300;
        }
    }

    &__form{
        background-color: $color-white;
        padding: 2rem;
        margin: 2rem 0;
        border-radius: 10px;
    }

    &__table{
        background-color: $color-white;
        padding: 2rem;
        margin: 2rem 0;
        border-radius: 10px;
    }
}