.home {
    background-color: $color-grey-light-1;
    height: calc(100vh - 61px);
    padding: 5rem 10rem;

    &__header {
        display: flex;
        margin-bottom: 5rem;

    }

    &__title {
        h3 {
            font-size: 2.8rem;
            line-height: 2.8rem;
        }
    }

    &__search {
        margin-left: 2rem;

        .el-input__inner {
            border-radius: 20px;
            width: 400px;
        }
    }

    &__clean-data {
        margin-left: auto;

    }

    &__data {

        .el-table {
            border-radius: 10px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);

        }
    }
}