.login {
    background-image: url('~@/assets/images/bg-01.jpg');
    background-color: $color-grey-light-1;   
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1; 
    

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.65);
    }

    &__title {
        font-size: 3.2rem;
        color: $color-white;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        display: block;
        font-weight: 900;
        margin-top: 10rem;
    }

    &__container {
        background-color: $color-white;
        width: 50%;
        margin: auto;
        padding: 5rem 8rem;
        margin-top: 5rem;
        border-radius: 3rem;
    }
}