<template>
  <div class="nav">
    <el-menu
      :default-active="activeIndex"
      class="el-menu-demo"
      mode="horizontal"
      menu-trigger="click"
    >
      <el-menu-item index="1">
        <img
          class="nav__logo"
          src="https://image.flaticon.com/icons/svg/2818/2818660.svg"
          alt="logo"
        />
      </el-menu-item>
      <el-submenu
        index="3"
        trigger
        :hide-timeout="30000"
        class="nav__submenu"
        popper-class="nav__submenu-popup"
      >
        <template slot="title">
          <img
            src="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/demo-1/img/avatar-s-3.7ed1da4a.jpg"
            class="nav__user-img"
            alt=""
          />
          <span class="nav__username">Ahmed Shibob</span>
        </template>
        <el-menu-item index="3-1">
          <el-switch
            v-model="Langage"
            active-text="عربي"
            inactive-text="English"
            @change="changeLocale"
          >
          </el-switch>
        </el-menu-item>
        <el-divider class="el-divider--horizontal-nav"></el-divider>

        <el-menu-item index="3-2" @click="logout">{{
          $t("logout")
        }}</el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
import i18n from "@/plugins/i18n";

export default {
  data() {
    return {
      activeIndex: "1",
      Langage: this.$store.state.locale
    };
  },
  methods: {
    logout() {
      this.$store.commit("setAuthentication", false);
      this.$router.push("/login");
    },
    changeLocale(value) {
      console.log(value);
      if (value) {
        i18n.locale = "ar";
        this.$store.commit("changeLocale", value);
      } else {
        i18n.locale = "en";
        this.$store.commit("changeLocale", value);
      }
    },
  },
};
</script>
