.nav {

    .el-menu {
        padding: 0 10rem;
    }




    &__logo {
        height: 80%;

    }

    &__submenu {
        float: right !important;
    }

    &__user-img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

    &__username {
        margin-left: 1rem;
    }

}



.nav__submenu-popup {

    float: left;

    .el-divider--horizontal {
        margin: 12px 0;
    
    }

    .el-menu-item {
        text-align: center;
    }
}