<template>
  <div id="app" :class="lang ? 'app-rtl' : ''">
    <router-view />
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    lang() {
      return this.$store.state.locale;
    },
  },
};
</script>

<style lang="scss">
@import "../src/assets/scss/main.scss";
</style>
